<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jdbc6_3tier_Broker/src/broker/three/cllient/Broker.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="broker.three.cllient.Broker"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jdbc6_3tier_Broker"/>
</launchConfiguration>
