<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jdbc5_2tier_Broker/src/broker/twotier/client/Broker.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="broker.twotier.client.Broker"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jdbc5_2tier_Broker"/>
</launchConfiguration>
