<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/java29_File/src/object/step4/test/PersonObjectOutputTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="object.step4.test.PersonObjectOutputTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="java29_File"/>
</launchConfiguration>
