<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/jason_StackExample_1/src/com/stack/test/StackExampleTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.stack.test.StackExampleTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="jason_StackExample_1"/>
</launchConfiguration>
