<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web05_HttpHeader</display-name>
  <servlet>
    <description></description>
    <display-name>PH</display-name>
    <servlet-name>PH</servlet-name>
    <servlet-class>servlet.http.step2.PrintHeaderTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PH</servlet-name>
    <url-pattern>/PH</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>PH2</display-name>
    <servlet-name>PH2</servlet-name>
    <servlet-class>servlet.http.step2.PrintHeaderTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PH2</servlet-name>
    <url-pattern>/PH2</url-pattern>
  </servlet-mapping>
</web-app>