<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web17_SessionTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>servlet.session.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/First</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServletSession</display-name>
    <servlet-name>SecondServletSession</servlet-name>
    <servlet-class>servlet.session.SecondServletSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServletSession</servlet-name>
    <url-pattern>/Second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdSessionServlet</display-name>
    <servlet-name>ThirdSessionServlet</servlet-name>
    <servlet-class>servlet.session.ThirdSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdSessionServlet</servlet-name>
    <url-pattern>/Third</url-pattern>
  </servlet-mapping>
</web-app>